.animated-divs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.animated-div {
  display: flex;
  justify-content: center;
  align-items: center;

}


.field1 {
  background-color: #111111;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.field {
  background-color: #111111;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 90vh;
  margin-left: -2em;
}



.frames {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.frames img {
  width: 40em;
}

.frame {
  margin: 5%;
  margin-top: 10%;
}

.frameText {
  margin-top: 6%;
  color: #F2F4F6;
  text-decoration: underline;
  text-decoration-color: #00618E;
  font-size: 3.8em;
  font-family: "Saudagar";
  font-weight: 300;
}

.textdes {
  margin-top: 1%;
  color: #F2F4F6;
  margin-top: 2%;
  line-height: 1.4;
  width: 30em;
  margin-right: 13em;
}

.TEXT {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: -10em;
  margin-left: 3em;
}


.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-left: -19.8em;
  ;
  margin-top: -2em;
}

.btnOur {
  background-color: #00618E;
  color: #F2F4F6;
  border-radius: 10px;
  border: none;
  width: 150px;
  height: 35px;
  box-shadow: 0px 10px 70px #00618E;
  margin-top: 30%;
  margin-left: -1.7em;
}

.btnOur {
  cursor: pointer;
}

.btnUs {
  background-color: #111111;
  color: #F2F4F6;
  border-radius: 10px;
  border-color: #F2F4F6;
  width: 150px;
  height: 35px;
  margin-left: 7%;
  margin-top: 30%;
}

.btnUs:hover {
  cursor: pointer;
}

.show {
  color: #F2F4F6;
}

.showM {
  color: #F2F4F6;
}

.down {
  margin: 1%;
}


.animated {
  animation: up-dowm 2s ease-in-out infinite alternate-reverse both;
}


@-webkit-keyframes up-dowm {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-dowm {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

.frameM {
  width: 110%;
  margin: 5%;
  margin-left: 125%;
}

.frmaeImgM {
  width: 70%;
  margin: 5%;
  margin-left: 100%;
  margin-top: -105%;
}


.frameU {
  width: 170%;
  margin: 5%;
  margin-left: 145%;
}

.frameImgU {
  width: 100%;
  margin: 5%;
  margin-left: 135%;
  margin-top: -155%;
}



@media (min-width:768px) and (max-width: 1064px) {
  .TEXT {
    margin-left: 7em;
    font-size: 13px;
    margin-right: -18em;
  }

  .frames img {
    width: 80%;
    margin-left: 20%;
  }

  .buttons {
    margin-left: -18em;
  }
}

@media (min-width:768px) and (max-width:835px) {
  .textdes {
    width: 27em;
  }

  .buttons {
    margin-left: -15em;
  }
}

@media (min-width: 640px) and (max-width: 768px) {

  .field {
    height: auto;
    margin-left: 0;
    flex-direction: column;
  }

  .TEXT {
    margin-left: 15em;
    font-size: 11px;
    margin-right: 0;
  }

  .frames img {
    width: 60%;
  }

  .buttons {
    margin-left: -22em;
    width: 17em;
  }
}

@media (min-width: 360px) and (max-width: 640px) {
  .field {
    flex-direction: column;
    height: 54em;
    width: 10em;
  }

  .TEXT {
    margin-left: 4em;
    font-size: 11px;
    margin-right: 0;
  }

  .frames img {
    width: 65%;
  }

  .frameText {
    width: 7em;
  }

  .frames img {
    width: 22em;
  }

  .frame {
    margin-top: 17%;
    margin-left: 17%;
  }

  .textdes {
    width: 25.5em;
    margin-right: 0em;
  }


  .buttons {
    margin-left: -5em;
    width: 17em;
  }

  .show {
    display: none;
  }

  .down {
    display: none;
  }
}

@media (min-width: 280px) and (max-width: 360px) {

  .field {
    flex-direction: column;
    height: auto;
    width: 10em;
    margin-left: 0.1%;
  }

  .TEXT {
    font-size: 11px;
    margin-top: 7em;
    margin-right: 1.5em;
  }

  .frames img {
    width: 140%;
    margin-top: 2em;
  }

  .frameText {
    width: 9em;
    font-size: 27px;
  }

  .textdes {
    width: 22.5em;
    margin-right: -3em;
  }



  .buttons {
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 0.4em;
  }

  .btnOur {
    width: 150px;
    height: 35px;
    margin-top: 10%;
    margin-left: 73.5%;
  }


  .btnUs {
    display: block;
    width: 150px;
    height: 35px;
    margin-top: 1.2em;
    margin-left: 73.5%;
  }

}