*{
    margin: 0;
    padding: 0;
}

.contactPage{
    background-color: #111111;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:100dvw;
    height: 100dvh;
    overflow: hidden;
}

.contactUs{
    background-color: #FFFFFF;
    width: 65%;
    height: auto;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6.5%;
}


/* .contactUs div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 80%;
    height: auto;
} */

.headingContact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: auto;
}

.headingContact h1{
    font-size: 56px;
    margin: 2% 0% 0 7%;
    /* margin: 2%; */
}

.headingContact img{
    position: relative;
    left: 45%;
    cursor: pointer;
}

.textareas{
    text-align: left;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 650px;
}
.textareas label{
    font-style: Work Sans;
    font-size: 16px;
    font-weight:600;
    margin: 1%;
    /* margin-top: 5%; */
}

.textareas input{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border-style:solid;
    margin: 1%;
    font-size: 16px;
}

.textarea-placeholder textarea{
    width: 100%;
    height: 60px;
    font-size: 12px;
    border-radius: 10px;
    /* border-style:groove; */
    margin: 1%;
    padding: 1%;
}

.socialMedia{
    margin-top: 1.4%;
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.socialMedia img{
    width: 20%;
    /* margin: 2%; */
}

.details{
    display: flex;
    margin: 1%;
    width: 40%;
    /* justify-content: space-between; */
}

.details img{
    width: 12%;
    height: auto;
}

.details h1{
    -webkit-text-fill-color: rgb(88, 83, 83);
    margin-left: 2%;
    font-size: 28px;
}

.submitButton{
    margin: 2%;
}

.submitButton2{
    background-color: #00618E;
    color: #F2F4F6;
    border-radius: 0.625em;
    width: 100%;
    height: 40px;
    border: none;
    cursor: pointer;
    font-family: Work Sans;
    font-size: 15px;
}

@media (min-width:1065px) and (max-width: 1368px){
    
.contactUs{
    margin-top: 8%;
}

    .headingContact img{
        left: 25%;
        width: 35px;
        height: 35px;
    }
    
    .headingContact h1{
        font-size: 33px;
    }

    .textareas input{
        width: 90%;
    }
    
    .textarea-placeholder textarea{
        width: 88%;
    }

    .socialMedia{
        justify-content:left;
        margin-left: 1%;
    }

    .details{
        margin-left: 1%;
    }

    .details img{
        width: 10%;
    }
    
    .socialMedia img{
        width: 14%;
    }
}

@media (min-width:768px) and (max-width: 1064px){

    .contactUs div{
        width: 90%;
    }
    
    .headingContact h1{
        font-size: 36px;
    }

    .headingContact img{
        left: 30%;
        width: 30px;
        height: 30px;
    }
    
    .textareas input{
        width: 100%;
    }
    
    .textarea-placeholder textarea{
        width: 100%;
    }

    .submitButton2{
        font-size: 13px;
    }

    .textareas label{
        font-size: 16px;
    }

    .socialMedia{
        justify-content:left;
        margin-left: 6%;
    }

    .socialMedia img{
        width: 8%;
    }

    .details{
        margin-left: 6%;
    }

    .details img{
        width: 8%;
    }

    .details h1{
        font-size: 22px;
    }
}
@media (min-width:640px) and (max-width: 768px){

    .contactUs div{
        width: 90%;
    }
    
    .headingContact h1{
        font-size: 36px;
    }

    .headingContact img{
        left: 25%;
        width: 30px;
        height: 30px;
    }

    .textareas label{
        font-size: 14px;
    }
    
    .textareas input{
        width: 100%;
    }
    
    .textarea-placeholder textarea{
        width: 100%;
    }

    .submitButton2{
        font-size: 13px;
    }


    .socialMedia{
        justify-content:left;
        margin-left: 6%;
    }

    .socialMedia img{
        width: 8%;
    }

    .details{
        margin-left: 6%;
    }

    .details img{
        width: 8%;
    }

    .details h1{
        font-size: 22px;
    }
}

@media (min-width:360px) and (max-width: 640px){

    .contactUs div{
        width: 90%;
    }
    
    .headingContact h1{
        font-size: 22px;
    }

    .headingContact img{
        left: 20%;
        width: 30px;
        height: 30px;
    }

    .textareas label {
        font-size: 14px;
    }
    
    .textareas input{
        width: 100%;
        height: 30px;
    }
    
    .textarea-placeholder textarea{
        width: 100%;
    }

    .submitButton2{
        font-size: 11px;
    }


    .socialMedia{
        justify-content:left;
        margin-left: 6%;
    }

    .socialMedia img{
        width: 8%;
    }

    .details{
        margin-left: 6%;
    }

    .details img{
        width: 9%;
        height: 18px;
    }

    .details h1{
        font-size: 14px;
    }
}

@media (min-width:280px) and (max-width: 360px){

    .contactUs div{
        width: 90%;
    }
    
    .headingContact h1{
        font-size: 16px;
    }

    .headingContact img{
        left: 20%;
        width: 20px;
        height: 20px;
    }

    .textareas label {
        font-size: 12px;
    }
    
    .textareas input{
        width: 100%;
        height: 20px;
        font-size: 12px;
    }
    
    .textarea-placeholder textarea{
        width: 100%;
        font-size: 10px;
    }

    .submitButton2{
        font-size: 11px;
    }


    .socialMedia{
        justify-content:left;
        margin-left: 6%;
    }

    .socialMedia img{
        width: 8%;
    }

    .details{
        margin-left: 6%;
    }

    .details img{
        width: 9%;
        height: 18px;
    }

    .details h1{
        font-size: 12px;
    }
}