@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&family=Varela+Round&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200&display=swap');


.font-face-sa {
  font-family: "Saudagar";
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans';
}

body {
  background-color: #F2F4F6;
}


.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding: 1% 2%;
  background-color: #F2F4F6;
  z-index: 2;
  width: 105%;
  height: 2%;
  padding: 1.4em 0em 2% 1.7em
}


.nav-btn {
  cursor: pointer;
  background: transparent;
  border: none;
  visibility: hidden;
  opacity: 0;

}

.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.menu-link {
  display: flex;
  flex-direction: row;
  margin-top: 11px;
}


.nav-item {
  list-style-type: none;
  margin-right: 0.4em;
  position: relative;
}

.navs {
  margin: auto;
}

.active {
  color: #464646;
  font-style: Work Sans;
  font-weight: 400;
  font-size: 1em;
  text-decoration: none;
  margin-left: 3.125em;
  position: relative;
  top: 30%;
}

.setlogo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}



.setlogo2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: none;
}

.setlogo2 .logo {
  width: 4.75em;
  cursor: pointer;
  margin-left: -32.88em;
  margin-top: 0em;
}

.setlogo2 .logoname {
  color: #464646;
  font-weight: 800;
  font-size: 1.176em;
  text-decoration: none;
  margin-left: -0.5em;
  margin-top: 0em;
}

.logo {
  width: 4.75em;
  cursor: pointer;
  margin-left: -32.88em;
  margin-bottom: -1.28em;
}

.logoname {
  color: #464646;
  font-weight: 800;
  font-size: 1.176em;
  text-decoration: none;
  margin-left: -0.5em;
  margin-bottom: -0.5em;
}

.we {
  color: #00618E;
}

.grow {
  display: inline-block;
  transition-duration: 0.3s;
  transition-property: transform;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.grow:hover {
  transform: scale(1.2);
  color: #00618E;
}


.btn {
  position: relative;
  left: 35%;
  background-color: #00618E;
  color: #F2F4F6;
  border-radius: 0.925em;
  box-shadow: 0em 0.05em 0.575em #00618E;
  width: 9.9em;
  height: 3.3em;
  border: none;
  cursor: pointer;
  font-family: Work Sans;
  /* margin-top: 0.9em; */
}


.mainContent {
  display: flex;
  flex-direction: row;
  height: 103vh;
  margin-left: 5%;
  justify-content: center;
  align-items: center;
  margin-top: -3%;
}

h5 {
  font-family: Work Sans;
  font-weight: 500;
  width: 80%;
  padding-top: 8%;
  line-height: 1.75em;
  font-size: 1.125em;
}

.btn_2 {
  background-color: #00618E;
  color: #F2F4F6;
  border-radius: 0.625em;
  border: none;
  width: 23%;
  height: 3.895em;
  cursor: pointer;
  position: relative;
  left: -22%;
  top: 0em;
}

.start {
  padding-top: 5%;
}

.form {
  border: none;
  width: 70%;
  height: 4.0625em;
  border-radius: 0.625em;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.06);
  padding-left: 2em;
}


.main-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile {
  margin-top: 16%;
  width: 40%;
}

.laptop {
  margin-left: 5%;
  margin-bottom: 15%;
  width: 55%;
}



.firstText {
  text-decoration: underline 6px #00618E;
  font-size: 64px;
  font-weight: 300;
  font-family: 'Work Sans';
  margin-top: 3em;
}


.main-1 div {
  display: flex;
  flex-direction: row;
}

.secondText {
  text-decoration: underline 6px #7fb3d7;

  font-family: 'Work Sans';
  font-weight: 400;
  font-size: 73px;
  padding-top: 3%;
}


.why_we {
  background-color: #232323;
  color: #F2F4F6;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 140px;
  width: 100%;
}

.numbers {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
}

.number_description {
  font-family: 'Work sans';
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  text-align: center;
}

.whyCaro {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin: 3%;
}


.textWhy {
  font-size: 54px;
  -webkit-text-stroke-width: 0.05px;
}

.ourWork {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-left: 10%;
  margin-right: 10%;
  color: #F2F4F6;
  background-color: #00618E;
  border-radius: 50px 50px 0 0;
  height: 53vh;
}

.textOur {
  margin: 0 1% 0 1%;
  color: #F2F4F6;
  font-size: 48px;
  font-weight: 400;
}

.ourWork h4 {
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 3%;

}

.flow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flow div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'work sans';
}

.flow div div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'work sans';
}

.circle {
  margin-top: 7%;
  text-align: center;
  font-family: 'work sans';
}

.circle h3 {
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  font-family: 'work sans';
}

.circle h4 {
  font-family: 'Inter';
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  font-family: 'work sans';
}


.circle1 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #F2F4F6;
  color: #00618E;
  font-family: 'Inter';
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.5em;
}

.circle-desc-one {
  margin-left: 1.5em;
}

.circle2 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #F2F4F6;
  color: #00618E;
  font-family: 'Inter';
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-two-desc {
  margin-top: 1.35em;
}

.circle3 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #F2F4F6;
  color: #00618E;
  font-family: 'Inter';
  display: flex;
  justify-content: center;
  align-items: center;

}

.circle4 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #F2F4F6;
  color: #00618E;
  font-family: 'Inter';
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5em;
  margin-bottom: 0.8em;
}

.circle-desc {
  margin-right: 1em;
  margin-bottom: 1.6em;
}


.vector1 {
  width: 207px;
  height: 30px;
  margin-bottom: 20%;
}

.vector2 {
  width: 208px;
  height: 30px;
  margin-bottom: 28%;
}

.vector3 {
  width: 204px;
  height: 30px;
  margin-bottom: 20%;
}



/* ........Image Animation........ */

.imageAnimation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111111;
  /* height: 130vh; */
  flex-direction: column;
}

.export {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  z-index: 0;
  margin-top: 5%;
}

.imgAni {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 42em;
  right: 6em;
  transform: skew(1deg, 3deg);
}


.noImg1 {
  width: 50%;
  position: relative;
  top: -20em;
}

.noImg2 {
  width: 50%;
  position: relative;
  top: -30em;
  left: 5em;
}

.noImg3 {
  width: 50%;
  position: relative;
  top: -40em;
  left: 10em;

}

.noImg4 {
  width: 50%;
  position: relative;
  top: -50em;
  left: 15em;

}

.export h1 {
  -webkit-text-stroke-width: 2px;
  color: #F2F4F6;
  -webkit-text-fill-color: transparent;
  font-size: 388px;
  font-weight: 400;
  line-height: 550px;
}


.export h3 {
  font-family: Work Sans;
  color: #F2F4F6;
  font-size: 64px;
  font-weight: 400;
  line-height: 85px;
  margin-top: -13%;
}

/* .......slider........ */


.founder {
  margin-top: 2%;
  margin-bottom: 1%;
  background: #F2F4F6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.founder div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.founderheading {
  margin-top: 1%;
  margin-bottom: 3%;
}

.founderheading h1 {
  font-style: work sans;
  font-weight: 600;
  font-size: 36px;
}

.founderimage {
  width: 25%;
  border: 0.1px solid rgb(194, 187, 187);
  border-radius: 10px;
}

.founderimage div {
  width: 100%;
}

.founderimage div img {
  border-radius: 10px 10px 0px 0px;
  width: 100%;

}


.founderimage div h1 {
  font-family: work sans;
  font-weight: 500;
  font-size: 24px;
  margin: 1%;
}

.founderimage div h2 {
  font-family: work sans;
  font-weight: 400;
  font-size: 16px;
}

.founderimage div p {
  width: 90%;
  text-align: center;
  font-size: 12px;
  margin: 1%;
}

.founderimage div div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 7%;
}

.founderimage div div a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.founderimage div div a img {
  margin: 2%;
  width: 40%;
}



/* .......Footer........ */


#foot {
  background: #F2F4F6;
}

.illust {
  background: #F5F5F5;
  height: 360px;
  display: flex;
  align-items: end;
  justify-content: end;
}



.mans {
  width: 20%;
  margin-right: 10%;
}



/* footer */

footer {
  width: 90%;
  height: 300px;
  margin: 0 70px;
  background: #00618E;
  border-radius: 24px 24px 0px 0px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;

}

footer div {
  display: flex;
  flex-direction: row;
}


.circles {
  width: 100%;
  height: 500px;
  border-radius: 50%;
  margin-top: -43.5%;
  margin-left: -12%;
  background: #F2F4F6;
  display: flex;
  flex-direction: column;
}

.logo-f {
  display: flex;
  flex-direction: row;
}

.logo-f img {
  margin-left: 16%;
  margin-top: 50%;
  width: 20%;
}

.SC {
  margin-left: 5%;
  margin-top: 51%;
  color: #232323;
  font-size: 35px;
  font-weight: 500;
  /* line-height: 90px; */
}

.circles p {
  position: relative;
  width: 322px;
  left: 21%;
  top: 5%;

  font-family: 'Work Sans';
  font-size: 16px;
  line-height: 20px;
  color: #464646;
}

footer .col-2 {
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 7%;
}

.col-2 {
  display: flex;
  flex-direction: column;
}

.col-2 div div {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: -10%;
}

hr {
  height: 1.5px;
  width: 85%;
  background-color: #F2F4F6;
  border-radius: 10PX;
  /* margin: 1%; */

}

.col-2 div div p {
  color: #F2F4F6;
  font-family: work sans;
  padding: 2% 2% 2% 0%;
  font-weight: 400;
  font-size: 16px;
}

footer .col-2 .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 6%;
  margin-right: 150px;
  /* margin-left: 12; */
}

footer .col-2 .col h4 {
  padding-bottom: 20%;
  font-weight: 600;
  font-size: 24px;
  line-height: 3%;
  color: #FFFFFF;
}

footer .col-2 .col a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2%;
  font-size: 14px;
  /* line-height: 35%; */

  /* gap: 12px; */
  text-decoration: none;
  /* height: 35px; */
  color: #E5E8EA;

  ::-webkit-scrollbar {
    width: 7px;

  }

  /* Track */
  ::-webkit-scrollbar-track {

    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #00618E;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #111111;
  }

}



/* !!!!!!!!!!!!!!!!!!.........RESPONSIVE..........!!!!!!!!!!!!!!!!! */

@media (min-width:768px) and (max-width:835px) {

  .setlogo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 0.4em;
    font-size: 14px;
  }


  .logo {
    width: 60px;
    margin-top: 0%;
    width: 4.75em;
    cursor: pointer;
    margin-left: -13em;
  }

  .navbar {
    height: 4rem;
  }

  .logoname {
    font-size: 1em;
    margin-top: 3%;
    color: #464646;
    font-weight: 800;
    font-size: 1.176em;
    text-decoration: none;
    margin-left: -0.5em;
  }

  .active {
    font-size: 80%;
    margin-left: 15px;
    top: 15%;
  }

  .btn {
    margin-left: -7em;
  }


  .export h1 {
    margin-top: -25%;
    font-size: 250px;
    line-height: 550px;
  }

  .export h3 {
    font-size: 46px;
    line-height: 95px;
    margin-top: -30%;
  }

  .noImg1 {
    top: -31em;
  }

  .noImg2 {
    top: -36em;
    left: 4em;
  }

  .noImg3 {
    top: -41em;
    left: 9em;
  }

  .noImg4 {
    top: -46em;
    left: 14em;
  }

  .illust {
    height: 281.5px;
  }


  .mans {
    width: 26%;
    top: 44%;
    left: 8%;
  }


  .ourWork {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 3%;
    margin-right: 3%;
    color: #F2F4F6;
    background-color: #00618E;
    border-radius: 50px 50px 0 0;
    height: 53vh;
  }

  .textOur {
    margin: 0 1% 0 1%;
    color: #F2F4F6;
    font-size: 35px;
    font-weight: 400;
  }

  .ourWork h4 {
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 3%;

  }

  .flow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .flow div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'work sans';
  }

  .flow div div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'work sans';
  }

  .circle {
    margin-top: 7%;
    text-align: center;
    font-family: 'work sans';
  }

  .circle h3 {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    font-family: 'work sans';
  }

  .circle h4 {
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'work sans';
  }


  .circle1 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #F2F4F6;
    color: #00618E;
    font-family: 'Inter';
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.5em;
  }

  .circle-desc-one {
    margin-left: 1.5em;
  }

  .circle2 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #F2F4F6;
    color: #00618E;
    font-family: 'Inter';
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .circle-two-desc {
    margin-top: 1.35em;
  }

  .circle3 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #F2F4F6;
    color: #00618E;
    font-family: 'Inter';
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .circle4 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #F2F4F6;
    color: #00618E;
    font-family: 'Inter';
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5em;
    margin-bottom: 0.8em;
  }

  .circle-desc {
    margin-right: 1em;
    margin-bottom: 1.6em;
  }


  .vector1 {
    width: 90px;
    height: 30px;
    margin-bottom: 20%;
  }

  .vector2 {
    width: 90px;
    height: 30px;
    margin-bottom: 28%;
  }

  .vector3 {
    width: 90px;
    height: 30px;
    margin-bottom: 20%;
  }


  .section-1 .main-container .box {
    width: 10em;
    height: 17em;
  }

  .section-1 p {
    font-weight: 400;
    font-size: 14px;
    line-height: 25px
  }

  /* .circles h3 {
    font-size: 23px;
    margin-left: 1em;
  }

  .circles p {
    font-size: 13px;
    width: 15em;
    margin-left: 3em;
    margin-top: -2em;
  }


  footer .col {
    width: 6em;
  }

  footer .col h4 {
    margin-top: 1.4em;
  }

  footer .col a {
    font-size: 13px;
  }

  footer div {
    font-size: 10px;
    margin-left: -3em;
    width: 35em;
  } */

  .mainContent {
    margin-top: -2%;
    height: 130vh;
  }

}

@media (min-width:835px) and (max-width:926px) {

  .mainContent {
    margin-top: -2%;
    height: 130vh;
  }

  .setlogo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 0.4em;
    font-size: 14px;
  }


  .logo {
    width: 60px;
    margin-top: 0%;
    width: 4.75em;
    cursor: pointer;
    margin-left: -13em;
  }

  .logoname {
    font-size: 1em;
    margin-top: 3%;
    color: #464646;
    font-weight: 800;
    font-size: 1.176em;
    text-decoration: none;
    margin-left: -0.5em;
  }

  .btn {
    margin-left: -8em;
  }

  .active {
    font-size: 15px;
    margin-left: 15px;
    top: 15%;
  }

  .export h1 {
    margin-top: -25%;
    font-size: 270px;
    line-height: 550px;
  }

  .navbar {
    height: 4rem;
  }

  .export h3 {
    font-size: 56px;
    line-height: 95px;
    margin-top: -25%;
  }

  .noImg1 {
    top: -32em;
  }

  .noImg2 {
    top: -36em;
    left: 4em;
  }

  .noImg3 {
    top: -40em;
    left: 9em;
  }

  .noImg4 {
    top: -45em;
    left: 14em;
  }

  .illust {
    height: 327px;
  }


  .ourWork {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 3%;
    margin-right: 3%;
    color: #F2F4F6;
    background-color: #00618E;
    border-radius: 50px 50px 0 0;
    height: 53vh;
  }

  .textOur {
    margin: 0 1% 0 1%;
    color: #F2F4F6;
    font-size: 35px;
    font-weight: 400;
  }

  .ourWork h4 {
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 3%;

  }

  .flow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .flow div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'work sans';
  }

  .flow div div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'work sans';
  }

  .circle {
    margin-top: 7%;
    text-align: center;
    font-family: 'work sans';
  }

  .circle h3 {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    font-family: 'work sans';
  }

  .circle h4 {
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'work sans';
  }


  .circle1 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #F2F4F6;
    color: #00618E;
    font-family: 'Inter';
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.5em;
  }

  .circle-desc-one {
    margin-left: 1.5em;
  }

  .circle2 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #F2F4F6;
    color: #00618E;
    font-family: 'Inter';
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .circle-two-desc {
    margin-top: 1.35em;
  }

  .circle3 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #F2F4F6;
    color: #00618E;
    font-family: 'Inter';
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .circle4 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #F2F4F6;
    color: #00618E;
    font-family: 'Inter';
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5em;
    margin-bottom: 0.8em;
  }

  .circle-desc {
    margin-right: 1em;
    margin-bottom: 1.6em;
  }


  .vector1 {
    width: 107px;
    height: 30px;
    margin-bottom: 20%;
  }

  .vector2 {
    width: 108px;
    height: 30px;
    margin-bottom: 28%;
  }

  .vector3 {
    width: 104px;
    height: 30px;
    margin-bottom: 20%;
  }


  .section-1 .main-container .box {
    width: 10em;
    height: 17em;
  }

  .section-1 p {
    font-weight: 400;
    font-size: 14px;
    line-height: 25px
  }

  /* .circles h3 {
    font-size: 23px;
    margin-left: 2em;
  }

  .circles p {
    font-size: 13px;
    width: 13em;
    margin-left: 5em;
  } */

  /* footer div {
    font-size: 12px;
    margin-left: -4em;
  } */
}

@media (min-width:926px) and (max-width:1064px) {
  .mainContent {
    margin-top: -2%;
    height: 109vh;
  }

  .setlogo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 15px;
    margin-left: em;
  }

  .navbar {
    height: 4rem;
  }

  .logo {
    width: 4.75em;
    cursor: pointer;
    margin-left: -23em;
  }

  .logoname {
    font-size: 1em;
    margin-top: 3%;
    color: #464646;
    font-weight: 800;
    font-size: 1.176em;
    text-decoration: none;
    margin-left: -0.5em;
  }

  .btn {
    margin-left: -8em;
  }

  .active {
    font-size: 80%;
    margin-left: 30px;
    top: 15%;
  }

  .export h1 {
    margin-top: -25%;
    font-size: 290px;
    line-height: 550px;
  }

  .export h3 {
    font-size: 66px;
    line-height: 95px;
    margin-top: -20%;
  }

  .noImg1 {
    top: -30em;
  }

  .noImg2 {
    top: -36em;
    left: 4em;
  }

  .noImg3 {
    top: -41em;
    left: 9em;
  }

  .noImg4 {
    top: -47em;
    left: 14em;
  }

  .illust {
    height: 350.5px;
  }




  .ourWork {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 3%;
    margin-right: 3%;
    color: #F2F4F6;
    background-color: #00618E;
    border-radius: 50px 50px 0 0;
    height: 53vh;
  }

  .textOur {
    margin: 0 1% 0 1%;
    color: #F2F4F6;
    font-size: 35px;
    font-weight: 400;
  }

  .ourWork h4 {
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 3%;

  }

  .flow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .flow div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'work sans';
  }

  .flow div div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'work sans';
  }

  .circle {
    margin-top: 7%;
    text-align: center;
    font-family: 'work sans';
  }

  .circle h3 {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    font-family: 'work sans';
  }

  .circle h4 {
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'work sans';
  }


  .circle1 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #F2F4F6;
    color: #00618E;
    font-family: 'Inter';
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.5em;
  }

  .circle-desc-one {
    margin-left: 1.5em;
  }

  .circle2 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #F2F4F6;
    color: #00618E;
    font-family: 'Inter';
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .circle-two-desc {
    margin-top: 1.35em;
  }

  .circle3 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #F2F4F6;
    color: #00618E;
    font-family: 'Inter';
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .circle4 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #F2F4F6;
    color: #00618E;
    font-family: 'Inter';
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5em;
    margin-bottom: 0.8em;
  }

  .circle-desc {
    margin-right: 1em;
    margin-bottom: 1.6em;
  }


  .vector1 {
    width: 107px;
    height: 30px;
    margin-bottom: 20%;
  }

  .vector2 {
    width: 108px;
    height: 30px;
    margin-bottom: 28%;
  }

  .vector3 {
    width: 104px;
    height: 30px;
    margin-bottom: 20%;
  }


  .section-1 .main-container .box {
    width: 12em;
  }

  .section-1 p {
    font-weight: 400;
    font-size: 14px;
    line-height: 25px
  }

  /* .circles h3 {
    font-size: 23px;
    margin-left: 2em;
  }

  .circles p {
    font-size: 13px;
    width: 13em;
    margin-left: 5em;
  }

  footer div {
    font-size: 12px;
    margin-left: -4em;
  } */
}

@media (min-width:1065px) and (max-width: 1368px) {


  .setlogo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-right: -18rem;
  }

  .logo {
    width: 4.75em;
    cursor: pointer;
    margin-left: -28.88em;
    margin-bottom: -1.28em;
  }

  .logoname {
    color: #464646;
    font-weight: 800;
    font-size: 1.176em;
    text-decoration: none;
    margin-left: -0.5em;
    margin-bottom: -0.5em;
  }

  .navbar-nav {
    width: 100%;
  }

  .nav-item {
    position: relative;
  }

  .active {
    top: 15%;
  }

  .navbar {
    height: 4rem;
  }

  .btn {
    left: 10%;
    margin-top: 0.1em;
  }

  .mainContent {
    height: auto;
    margin-top: 5em;
  }

  .firstText {
    font-size: 27px;
  }

  .secondText {
    font-size: 34px;
  }

  h5 {
    padding-top: 12%;
    font-size: 15px;
  }


  .btn_2 {
    width: 33%;
    height: 3.5em;
    cursor: pointer;
    position: relative;
    left: 50%;
    top: -46px;
  }


  .form {
    width: 80%;
    height: 45px;
  }

  .laptop {
    margin-left: 5%;
    margin-bottom: 15%;
    width: 55%;
  }



  /* ............... WHY WE ........... */

  .numbers {
    font-size: 32px;
  }

  .number_description {
    font-size: 14px;
  }

  .textWhy {
    font-size: 44px;
    -webkit-text-stroke-width: 0.05px;
  }

  .swiper-slide-active {
    font-size: 40px;
  }

  /* ............ OUR WORK FLOW .............. */

  .ourWork {
    height: 45vh;
  }

  .textOur {
    font-size: 45px;
  }

  .ourWork h4 {
    line-height: 30px;
    margin-bottom: 3%;
  }

  .circle {
    margin-top: 10%;
  }

  .circle h3 {
    font-size: 15px;
    line-height: 24px;
  }

  .circle h4 {
    font-size: 12px;
    line-height: 17px;
  }

  .circle1 {
    width: 50px;
    height: 50px;
  }

  .circle2 {
    width: 50px;
    height: 50px;
  }

  .circle3 {
    width: 50px;
    height: 50px;
  }

  .circle4 {
    width: 50px;
    height: 50px;
  }

  .vector1 {
    width: 30%;
    height: 10px;
    margin-bottom: 35%;
  }

  .vector2 {
    width: 30%;
    height: 10px;
    margin-bottom: 45%;
  }

  .vector3 {
    width: 30%;
    height: 10px;
    margin-bottom: 35%;
  }

  /* ............. EXPORT......... */


  .imgAni {
    position: relative;
    top: 36em;
    right: 6em;
    opacity: 1;
  }

  .export h3 {
    font-size: 54px;
    line-height: 85px;
    margin-top: -13.5%;
  }

  .export h1 {
    margin-top: -20%;
    font-size: 380px;
    line-height: 550px;
  }

  .noImg1 {
    top: -30em;
  }

  .noImg2 {
    top: -36em;
    left: 4em;
  }

  .noImg3 {
    top: -41em;
    left: 9em;
  }

  .noImg4 {
    top: -47em;
    left: 14em;
  }

  /* .............our team carousel............ */

  .founder {
    margin-top: 5%;
    margin-bottom: 9%;
    background: #F2F4F6;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .founder div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .founderheading {
    margin-top: 3%;
    margin-bottom: 7%;
  }

  .founderheading h1 {
    font-style: work sans;
    font-weight: 600;
    font-size: 36px;
  }

  .founderimage {
    width: 25%;
    border: 0.1px solid rgb(194, 187, 187);
    border-radius: 10px;
  }

  .founderimage div {
    width: 100%;
  }

  .founderimage div img {
    border-radius: 10px 10px 0px 0px;
    width: 100%;

  }


  .founderimage div h1 {
    font-family: work sans;
    font-weight: 500;
    font-size: 24px;
    margin: 3%;
  }

  .founderimage div p {
    font-family: work sans;
    font-weight: 400;
    font-size: 16px;
  }

  .founderimage div div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 7%;
  }

  .founderimage div div a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .founderimage div div a img {
    margin: 10%;
    width: 40%;
  }

  /* ..............FOOTER............... */

  .circles {
    width: 113%;
    height: 429px;
    margin-top: -19.5%;
    margin-left: -17%;
  }

  footer {
    margin: 0 5%;
    height: 350px;
  }

  .illust {
    height: 395px;
  }

  .mans {
    width: 22%;
    margin-right: 10%;

  }


  .logo-f img {
    margin-left: 9%;
    margin-top: 20%;
    width: 33%;
  }

  .SC {
    margin-left: 0%;
    font-size: 30px;
    margin-top: 25.5%;
  }

  .circles p {
    width: 275px;
    left: 21%;
    top: -5%;
    font-family: 'Work Sans';
    font-size: 18px;
    line-height: 25px;
    color: #464646;
  }

  footer .col-2 {
    left: 10%;
    top: 5%;
  }

  footer .col-2 .col {
    margin-top: 5%;
    margin-right: 120px;
  }

  footer .col-2 .col h4 {
    font-size: 21px;
    line-height: 6px;
    color: #ffffff;
  }

  footer .col-2 .col a {
    line-height: 20px;
    font-size: 14px;
  }

  .col-2 {
    display: flex;
    flex-direction: column;
  }

  .col-2 div div {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-top: -14%;
  }

  hr {
    height: 1.5px;
    width: 85%;
    background-color: #F2F4F6;
    border-radius: 10PX;
    /* margin: 1%; */

  }

  .col-2 div div p {
    color: #F2F4F6;
    font-family: work sans;
    padding: 2% 2% 2% 0%;
    font-weight: 400;
    font-size: 14px;
  }

}

@media (min-width:768px) and (max-width: 1064px) {
  /* ............. EXPORT......... */


  .imgAni {
    position: relative;
    top: 39em;
    right: 6em;
    opacity: 1;
  }



  /* .............our team carousel............ */

  .founder {
    margin-top: 2%;
    margin-bottom: 3%;

  }

  .founderimage {
    width: 40%;
  }

  .founderheading {
    margin-top: 4%;
    margin-bottom: 7%;
  }

  .founderheading h1 {
    font-size: 33px;
  }



  /* ..............FOOTER............... */

  .mans {
    width: 26%;
    margin-right: 10%;
    /* width: 24%;
   position: relative;
   top: 24.4%;
   left: 65%; */
  }

  .circles {
    height: 345px;
    margin-top: -12.5%;
    margin-left: -16%;
  }

  footer {
    margin: 0 5%;
    height: 300px;
  }

  .logo-f img {
    margin-left: 10%;
    margin-top: 20%;
    width: 30%;
  }

  .SC {
    margin-left: 2%;
    font-size: 20px;
    margin-top: 25.5%;
  }

  .circles p {
    width: 225px;
    left: 21%;
    top: 0%;

    font-family: 'Work Sans';
    font-size: 12px;
    line-height: 20px;
    color: #464646;
  }

  footer .col-2 {
    left: 6%;
  }

  footer .col-2 .col {
    margin-top: 10%;
    margin-right: 56px;
  }

  footer .col-2 .col h4 {
    font-size: 16px;
    line-height: 6px;
    color: #ffffff;
    padding-bottom: 15%;
  }

  footer .col-2 .col a {
    line-height: 16px;
    font-size: 13px;
  }

  .col-2 div div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: -12%;
  }

  .col-2 div div p {
    color: #F2F4F6;
    font-family: work sans;
    padding: 2% 2% 2% 0%;
    font-weight: 400;
    font-size: 12px;
  }

}

@media (min-width: 640px) and (max-width: 768px) {
  .setlogo2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: 3em;
    margin-top: 1em;
    display: flex;
  }

  .setlogo2 .logo {
    width: 4.75em;
    cursor: pointer;
    margin-left: -32.88em;
    margin-top: 0em;
  }

  .setlogo2 .logoname {
    color: #464646;
    font-weight: 800;
    font-size: 1.176em;
    text-decoration: none;
    margin-left: -0.5em;
    margin-top: 0em;
  }

  .nav-btn {
    padding: 5px;
    visibility: visible;
    opacity: 1;
    font-size: 1.8rem;
    margin-left: 37rem;
    margin-top: -2.5rem;
    display: flex;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: #F2F4F6;
    transition: 1s;
    transform: translateY(-100vh);
  }

  nav a {
    font-size: 1.5rem;
    padding-top: 4rem;
  }

  .menu-link {
    display: flex;
    flex-direction: column;
    margin-top: 40rem;
    width: 80rem;
    margin-left: -20%;
    background-color: #F2F4F6;
  }

  .btn {
    margin-left: 17.5%;
    margin-bottom: 5rem;
    margin-top: 2.5em;
  }

  .navbar {
    height: 4rem;
  }

  .responsive_nav {
    transform: none;

  }

  nav .nav-close-btn {
    position: absolute;
    top: 6rem;
    right: 12%
  }

  .active {
    margin-top: 2.5px;
    margin-left: 10.825em;
    font-size: 18px;
  }

  .setlogo {
    display: none;
  }

  .logo {
    width: 55px;
    margin-top: 8%;
  }

  .logoname {
    font-weight: bolder;
    font-size: 18px;
    margin-top: 4%;
  }


  .mainContent {
    margin-left: 0%;
    height: auto;
    flex-direction: column;
  }

  .main-1 {
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main-2 {
    flex-direction: column;
  }

  .firstText {
    font-size: 50px;
    text-align: center;
  }

  .secondText {
    font-size: 58px;
    text-align: center;
  }

  h5 {
    padding-top: 9%;
    font-size: 17px;
    text-align: center;
  }

  .start {
    padding-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .btn_2 {
    width: 23%;
    cursor: pointer;
    position: relative;
    left: 28.5%;
    top: -51.5px;
  }

  .form {
    width: 80%;
    height: 51px;
  }

  .mobile {
    margin-top: 0%;
    margin-right: 0%;
    width: 40%;
    margin-bottom: 15%;
  }

  .laptop {
    display: none;
  }

  /* ............... WHY WE ........... */

  .why_we {
    flex-direction: column;
    height: 480px;
  }


  .textWhy {
    font-size: 30px;
    -webkit-text-stroke-width: 0.05px;
  }

  .whyCaro {
    margin: 10% 14%;
  }

  .swiper-slide-active {
    text-decoration: underline 5px solid #111111;
  }

  .slider {
    width: 66%;
  }


  /* ............ OUR WORK FLOW .............. */

  .flow {
    flex-direction: column;
  }

  .flow div {
    flex-direction: column;
  }

  .ourWork {
    height: auto;
    margin-left: 7%;
    margin-right: 7%;
  }

  .textOur {
    font-size: 35px;
  }

  .vector1 {
    width: 30%;
    transform: rotate(90deg);
    margin-top: 15%;

  }

  .vector2 {
    width: 30%;
    transform: rotate(90deg);

    margin-top: 15%;
  }

  .vector3 {
    width: 30%;
    transform: rotate(90deg);
    margin-top: 15%;

  }

  .textOur {
    margin: 2%;
  }

  /* 

  

  .ourWork h4 {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 3%;
  }

  .circle {
    margin-top: 13%;
  }

  .circle h3 {
    font-size: 13px;
    line-height: 24px;
  }

  .circle h4 {
    font-size: 10px;
    line-height: 17px;
  }

  .circle1 {
    width: 40px;
    height: 40px;
  }

  .circle2 {
    width: 40px;
    height: 40px;
  }

  .circle3 {
    width: 40px;
    height: 40px;
  }

  .circle4 {
    width: 40px;
    height: 40px;
  }

  .vector1 {
    width: 30%;
    height: 10px;
    margin-bottom: 50%;
  }

  .vector2 {
    width: 30%;
    height: 10px;
    margin-bottom: 55%;
  }

  .vector3 {
    width: 30%;
    height: 10px;
    margin-bottom: 50%;
  } */

  /* ............. EXPORT......... */

  .imageAnimation {
    height: 109vh;
  }

  .imgAni {
    position: relative;
    top: 39em;
    right: 7em;
    opacity: 1;
  }

  .export {
    margin-top: -25%;
  }

  .export h1 {
    font-size: 220px;
    font-weight: 400;
    line-height: 550px;
  }

  .export h3 {
    font-size: 36px;
    line-height: 95px;
    margin-top: -37%;
  }

  .noImg1 {
    width: 60%;
    top: -34em;
  }

  .noImg2 {
    width: 60%;
    top: -38em;
    left: 4em;
  }

  .noImg3 {
    width: 60%;
    top: -42em;
    left: 9em;
  }

  .noImg4 {
    width: 60%;
    top: -46em;
    left: 14em;
  }


  /* .............our team carousel............ */

  .founder {
    margin-top: 7%;
    margin-bottom: 10%;
  }

  .founderheading {
    margin-top: 3%;
    margin-bottom: 10%;
  }

  .founderimage {
    width: 55%;
  }

  .founderheading h1 {
    font-size: 30px;
  }

  /* ..............FOOTER............... */

  .circles {
    width: 106%;
    height: 357px;
    margin-top: -15.5%;
    margin-left: -22%;
  }

  footer {
    margin: 0 5%;
    height: 300px;
  }

  .logo-f img {
    margin-left: 18%;
    margin-top: 20%;
    width: 27%;

  }

  .SC {
    margin-left: 0%;
    font-size: 20px;
    margin-top: 24.5%;
  }

  .circles p {
    width: 200px;
    left: 26%;
    top: 0%;

    font-family: 'Work Sans';
    font-size: 14px;
    line-height: 20px;
    color: #464646;
  }

  .illust {
    height: 281.5px;
  }



  .mans {
    width: 40%;
    margin-right: 10%;

  }

  footer .col-2 {
    left: 1%;
  }

  footer .col-2 .col {
    margin-top: 15%;
    margin-right: 30px;
  }

  footer .col-2 .col h4 {
    font-size: 14px;
    line-height: 0px;
    padding-bottom: 24%;
    color: #ffffff;
  }

  footer .col-2 .col a {
    line-height: 16px;
    font-size: 12px;
  }

  .col-2 div div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: -17%;
  }

  .col-2 div div p {
    color: #F2F4F6;
    font-family: work sans;
    padding: 2% 2% 2% 0%;
    font-weight: 400;
    font-size: 10px;
  }
}


@media (min-width: 361px) and (max-width:640px) {
  .setlogo2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 1em;
    display: flex;
    width: 12em;
  }

  .setlogo2 .logo {
    width: 4.75em;
    cursor: pointer;
    margin-left: 0em;
    margin-top: 0em;
  }

  .setlogo2 .logoname {
    color: #464646;
    font-weight: 800;
    font-size: 1.176em;
    text-decoration: none;
    margin-top: 0em;
  }

  .nav-btn {
    padding: 5px;
    visibility: visible;
    opacity: 1;
    font-size: 1.8rem;
    margin-top: -3rem;
    margin-left: 85%;
    display: flex;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: #F2F4F6;
    transition: 1s;
    transform: translateY(-100vh);
  }

  nav a {
    font-size: 1.5rem;
    padding-top: 5rem;
  }

  .menu-link {
    display: flex;
    flex-direction: column;
    margin-top: 40rem;
    width: 80rem;
    margin-left: -20%;
    background-color: #F2F4F6;
  }

  nav .nav-close-btn {
    position: absolute;
    top: 178%;
    right: 50%;
  }

  .btn {
    margin-left: 13.7rem;
    margin-bottom: 3rem;
    margin-top: 3em;
  }

  .navbar {
    height: 1rem;
  }

  .responsive_nav {
    transform: none;

  }


  .active {
    margin-top: 2.5px;
    margin-left: 10.825em;
    font-size: 18px;
  }

  .mainContent {
    margin-left: 0%;
    height: auto;
    flex-direction: column;
  }

  .main-1 {
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  .main-2 {
    flex-direction: column;
  }

  .firstText {
    font-size: 27px;
    text-align: center;
  }

  .secondText {
    font-size: 36px;
    text-align: center;
  }

  h5 {
    padding-top: 9%;
    font-size: 16px;
    text-align: center;
  }

  .start {
    padding-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .setlogo {
    display: none;
  }

  .btn_2 {
    width: 38%;
    height: 3.4375em;
    cursor: pointer;
    position: relative;
    left: 24%;
    top: -45px;
  }

  .form {
    width: 50%;
    margin-left: -34%;
    height: 45px;
    padding-left: 2%;
    font-size: 11px;
  }

  .mobile {
    margin-top: 0%;
    margin-right: 0%;
    width: 40%;
    margin-bottom: 15%;
  }

  .laptop {
    display: none;
  }

  form.start.aos-init.aos-animate {
    width: 60%;
  }

  /* ............... WHY WE ........... */

  .why_we {
    flex-direction: column;
    height: 480px;
    width: 100%;
  }


  .textWhy {
    font-size: 25px;
    -webkit-text-stroke-width: 0.05px;
  }

  .whyCaro {
    margin: 10% 0%;
  }

  .swiper-slide-active {
    text-decoration: underline 2px solid #111111;
  }

  .slider {
    width: 66%;
  }


  /* ............ OUR WORK FLOW .............. */


  .flow {
    flex-direction: column;
  }

  .flow div {
    flex-direction: column;
  }

  .ourWork {
    height: auto;
    margin-left: 7%;
    margin-right: 7%;
  }

  .ourWork h4 {
    text-align: center;
    font-size: 16px;
  }

  .textOur {
    font-size: 35px;
    margin: 2%;
  }

  .vector1 {
    width: 30%;
    transform: rotate(90deg);
    margin-top: 15%;

  }

  .vector2 {
    width: 30%;
    transform: rotate(90deg);

    margin-top: 15%;
  }

  .vector3 {
    width: 30%;
    transform: rotate(90deg);
    margin-top: 15%;


  }

  /* 
  .ourWork {
    height: auto;
    margin: 0 5% 0 5%;
  }

  .textOur {
    font-size: 24px;
    }

  .ourWork h4 {
    font-size: 9px;
    line-height: 39px;
    margin-bottom: 3%;
  }

  .circle {
    margin-top: 13%;
  }

  .circle h3 {
    font-size: 9px;
    line-height: 12px;
    font-weight: bolder;
  }

  .circle h4 {
    font-size: 8px;
    line-height: 14px;
  }

  .circle1 {
    width: 30px;
    height: 30px;
    font-size: 11px;
  }

  .circle2 {
    width: 30px;
    height: 30px;
    font-size: 11px;
  }

  .circle3 {
    width: 30px;
    height: 30px;
    font-size: 11px;
  }

  .circle4 {
    width: 30px;
    height: 30px;
    font-size: 11px;
  }

  .vector1 {
    width: 30%;
    height: 9px;
    margin-bottom: 45%;
  }

  .vector2 {
    width: 30%;
    height: 9px;
    margin-bottom: 50%;
  }

  .vector3 {
    width: 30%;
    height: 9px;
    margin-bottom: 45%;
  } */

  /* ............. EXPORT......... */

  .imageAnimation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111111;
    height: 102vh;
    flex-direction: column;
  }

  .imgAni {
    position: relative;
    top: 39em;
    right: 7em;
    opacity: 1;
  }

  .export {
    margin-top: -70%;
  }

  .export h1 {
    font-size: 115px;
    font-weight: 400;
    line-height: 550px;
  }

  .export h3 {
    font-size: 22px;
    line-height: 95px;
    margin-top: -86%;
    margin-left: 5%;
  }

  .noImg1 {
    width: 82%;
    top: -38em;
    left: 5em;
  }

  .noImg2 {
    top: -40em;
    left: 6.2em;
    width: 82%;
  }

  .noImg3 {
    top: -42em;
    left: 7.5em;
    width: 82%;
  }

  .noImg4 {
    top: -44em;
    left: 9em;
    width: 82%;
  }



  /* .............our team carousel............ */

  .founder {
    margin-top: 7%;
    margin-bottom: 10%;
  }

  .founderheading {
    margin-top: 6%;
    margin-bottom: 17%;
  }

  .founderimage {
    width: 65%;
  }

  .founderheading h1 {
    font-size: 24px;
  }

  /* ..............FOOTER............... */

  .circles {
    height: 330px;
    margin-top: -12.5%;
    margin-left: -16%;
    width: 104%;
  }

  footer {
    border-radius: 14px 14px 0px 0px;
    margin: 0 5%;
    height: 300px;
  }

  .logo-f img {
    margin-left: 10%;
    margin-top: 20%;
    width: 30%;
  }

  .SC {
    margin-left: 2%;
    font-size: 20px;
    margin-top: 25.5%;
  }

  .circles p {
    width: 225px;
    left: 21%;
    top: 0%;

    font-family: 'Work Sans';
    font-size: 12px;
    line-height: 20px;
    color: #464646;
  }

  .illust {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .waves {
    width: 60%;
    top: 0%;
    left: 0%;
    margin: 2%;
  }

  .mans {
    width: 50%;
    margin: 9%;

    /* width: 60%;
    top: 0%;
    left: 0%;
    margin: 2%; */
  }

  .i1 {
    width: 60%;
    top: 0%;
    left: 0%;
    margin: 2%;
  }

  .i3 {
    width: 60%;
    top: 0%;
    left: 0%;
    margin: 2%;
  }

  footer {
    height: auto;
  }

  footer div {
    display: flex;
    flex-direction: column;
  }



  footer .col-2 .col {
    margin-top: 15%;
    margin-right: 0px;
  }

  footer .col-2 .col h4 {
    font-size: 26px;
    line-height: 6px;
    color: #ffffff;
    padding-bottom: 8%;
  }

  footer .col-2 .col a {
    line-height: 20px;
    font-size: 18px;
  }

  .col-2 div div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .col-2 div div p {
    color: #F2F4F6;
    font-family: work sans;
    padding: 2% 2% 2% 0%;
    font-weight: 400;
    font-size: 11px;
  }

}

@media (min-width:280px) and (max-width: 360px) {
  .setlogo {
    display: none;
  }

  .setlogo2 {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 1em;
    display: flex;
    width: 12em;
  }

  .setlogo2 .logo {
    width: 4.75em;
    cursor: pointer;
    margin-left: 0em;
    margin-top: 0em;
  }

  .setlogo2 .logoname {
    color: #464646;
    font-weight: 800;
    font-size: 1.176em;
    text-decoration: none;
    margin-top: 0em;
  }

  .nav-btn {
    padding: 5px;
    visibility: visible;
    opacity: 1;
    font-size: 1.8rem;
    margin-top: -3rem;
    margin-left: 85%;
    display: flex;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: #F2F4F6;
    transition: 1s;
    transform: translateY(-100vh);
  }

  nav a {
    font-size: 1.5rem;
    padding-top: 5rem;
  }

  .menu-link {
    display: flex;
    flex-direction: column;
    margin-top: 38rem;
    width: 80rem;
    margin-left: -20%;
    background-color: #F2F4F6;
  }

  nav .nav-close-btn {
    position: absolute;
    top: 178%;
    right: 50%;
  }

  .btn {
    margin-left: 13.7rem;
    margin-bottom: 2rem;
    margin-top: 3em;
  }

  .navbar {
    height: 1rem;
  }

  .responsive_nav {
    transform: none;

  }

  form.start.aos-init.aos-animate {
    width: 60%;
  }



  .active {
    margin-top: 2.5px;
    margin-left: 10.825em;
    font-size: 18px;
  }

  .mainContent {
    margin-left: 0%;
    height: 105vh;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .main-1 {
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .main-2 {
    flex-direction: column;
  }

  .firstText {
    font-size: 22px;
    text-align: center;
  }

  .secondText {
    font-size: 28px;
    text-align: center;
  }

  h5 {
    padding-top: 9%;
    font-size: 17px;
    text-align: center;
  }

  .start {
    padding-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .btn_2 {
    width: 40%;
    height: 4em;
    cursor: pointer;
    position: relative;
    left: 27.5%;
    top: -50%;
    font-size: 11px;
  }

  .form {
    width: 95%;
    height: 42px;
    font-size: 10px;
    padding-left: 4%;
  }

  .mobile {
    margin-top: 0%;
    margin-right: 0%;
    width: 40%;
    margin-bottom: 15%;
  }

  .laptop {
    display: none;
  }

  /* ............... WHY WE ........... */

  .why_we {
    flex-direction: column;
    height: 400px;
  }

  .numbers {
    font-size: 25px;
  }

  .number_description {
    font-size: 12px;
  }

  .textWhy {
    font-size: 20px;
    -webkit-text-stroke-width: 0.05px;
  }

  .whyCaro {
    margin: 10% 12%;
  }

  .swiper-slide-active {
    text-decoration: underline 2px solid #111111;
  }

  .slider {
    width: 82%;
  }


  /* ............ OUR WORK FLOW .............. */


  .flow {
    flex-direction: column;
  }

  .flow div {
    flex-direction: column;
  }

  .ourWork {
    height: auto;
    margin: 0 7% 0 7%;
    border-radius: 20px 20px 0 0
  }

  .textOur {
    font-size: 24px;
  }

  .ourWork h4 {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 3%;
    text-align: center;
  }



  .vector1 {
    width: 43%;
    transform: rotate(90deg);
    margin-top: 15%;
    height: 17px;
  }

  .vector2 {
    width: 43%;
    transform: rotate(90deg);
    height: 17px;
    margin-top: 15%;
  }

  .vector3 {
    width: 43%;
    transform: rotate(90deg);
    margin-top: 15%;
    height: 17px;
  }

  .circle {
    margin-top: 7%;
  }

  .circle h3 {
    font-size: 14px;
    line-height: 14px;
    font-weight: bolder;
  }

  .circle h4 {
    font-size: 12px;
    line-height: 12px;
  }

  .circle1 {
    width: 50px;
    height: 50px;
    font-size: 12px;
  }

  .circle2 {
    width: 50px;
    height: 50px;
    font-size: 12px;
  }

  .circle3 {
    width: 50px;
    height: 50px;
    font-size: 12px;
  }

  .circle4 {
    width: 50px;
    height: 50px;
    font-size: 12px;
  }


  /* ............. EXPORT......... */

  .imageAnimation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111111;
    height: 92vh;
    flex-direction: column;
  }

  .imgAni {
    position: relative;
    top: 39em;
    right: 7em;
    opacity: 1;
  }

  .export {
    margin-top: -70%;
  }

  .export h1 {
    font-size: 95px;
    font-weight: 400;
    line-height: 550px;
  }

  .export h3 {
    font-size: 22px;
    line-height: 95px;
    margin-top: -86%;
    margin-left: 5%;
  }

  .noImg1 {
    width: 76%;
    top: -38em;
    left: 5em;
  }

  .noImg2 {
    top: -40em;
    left: 6.2em;
    width: 76%;
  }

  .noImg3 {
    top: -42em;
    left: 7.5em;
    width: 76%;
  }

  .noImg4 {
    top: -44em;
    left: 9em;
    width: 76%;
  }

  /* .............our team carousel............ */

  .founder {
    margin-top: 7%;
    margin-bottom: 10%;
  }

  .founderimage {
    width: 80%;
  }

  .founderheading {
    margin-top: 6%;
    margin-bottom: 17%;
  }

  .founderheading h1 {
    font-size: 24px;
  }

  /* ..............FOOTER............... */

  .circles {
    height: 300px;
    margin-top: -12.5%;
    margin-left: -16%;
  }

  footer {
    margin: 0 5%;
    height: 300px;
  }

  .logo-f img {
    margin-left: 10%;
    margin-top: 20%;
    width: 29%;
  }

  .SC {
    margin-left: 2%;
    font-size: 20px;
    margin-top: 25.5%;
  }

  .circles p {
    width: 190px;
    left: 21%;
    top: 0%;

    font-family: 'Work Sans';
    font-size: 12px;
    line-height: 20px;
    color: #464646;
  }

  .illust {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .waves {
    width: 60%;
    top: 0%;
    left: 0%;
    margin: 2%;
  }

  .mans {
    width: 55%;
    margin: 13%;
    /* width: 60%;
    top: 0%;
    left: 0%;
    margin: 2%; */
  }

  .i1 {
    width: 60%;
    top: 0%;
    left: 0%;
    margin: 2%;
  }

  .i3 {
    width: 60%;
    top: 0%;
    left: 0%;
    margin: 2%;
  }

  footer {
    height: auto;
    border-radius: 14px 14px 0px 0px;
  }

  footer div {
    display: flex;
    flex-direction: column;
  }



  footer .col-2 .col {
    margin-top: 15%;
    margin-right: 0px;
  }

  footer .col-2 .col h4 {
    font-size: 20px;
    line-height: 6px;
    color: #ffffff;
    padding-bottom: 8%;
  }

  footer .col-2 .col a {
    line-height: 10px;
    font-size: 16px;
  }

  .col-2 div div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .col-2 div div p {
    color: #F2F4F6;
    font-family: work sans;
    padding: 2% 2% 2% 0%;
    font-weight: 400;
    font-size: 10px;
  }

}